@import '../abstract/root';

body {
    @include display(flex, column, nowrap, normal, center, center);
    @include size (100%, 100vh);
    @include spacing(6rem 2rem, unset);
    background: linear-gradient($gradient) fixed;
    background-size: 100%;

    header {
        @include size (100%, fit-content);
        max-width: 64rem;

        .search {
            @include display (flex, row, nowrap, normal, space-between, center);
            @include size (100%, 100%);
            @include spacing (0 0 1rem 0, unset);
            column-gap: 1rem;

            .search__area {
                @include text(1.6rem, $medium, $dark);
                @include border(none, none, 8px);
                @include size (calc(100% - 5rem), 4rem);
                @include spacing(1rem 1.4rem, unset);
                background-color: $white;
                box-shadow: $search-shadow;

                &::placeholder {
                    color: $silver;
                    font-size: 1.4rem;
                }
            }

            .search__button {
                @include text(1.6rem, $regular, $silver);
                @include border(none, none, 8px);
                @include size (4rem, 4rem);
                background-color: $white;
                box-shadow: $search-shadow;

                .search__icon {
                    @include size (2rem, 2rem);
                }
            }
        }

        .search__error {
            @include text (1.6rem, $medium, $error);
            @include spacing (0 2rem, unset);
            text-align: center;
        }

        .--visible {
            display: block;
        }
    }

    main {
        @include size (100%, fit-content);
        @include border (none, none, 4rem);
        @include spacing (4rem 2rem, 4rem 0 0 0);
        background-color: rgba($color: $primary, $alpha: 0.75);
        box-shadow: $background-shadow;
        max-width: 40rem;

        .weather {
            @include display (flex, row, wrap, normal, center, normal);

            .weather__localization {
                @include display(flex, row, wrap, normal, center, center);
                @include size(100%, fit-content);
                column-gap: 1rem;

                .weather__icon {
                    @include size (fit-content, 2rem)
                }

                .weather__city {
                    @include text (2rem, $bold, $dark);
                }
            }

            .weather__temperature {
                @include display(flex, column, nowrap, normal, normal, center);
                @include size (100%, fit-content);
                @include spacing(unset, 1rem 0 4rem);


                .temperature__degrees {
                    @include text (8rem, $bold, $dark);
                    @include spacing(unset, 1rem 0)
                }

                .weather__condition {
                    @include display (flex, row, wrap, normal, center, center);
                    column-gap: 1rem;

                    .condition__icon {
                        @include size (6rem, fit-content);
                    }

                    .condition__text {
                        @include text (2rem, $bold, $dark);
                        text-align: center;
                    }
                }
            }

            .weather__features {
                @include display (flex, column, nowrap, normal, center, center);
                @include size(100%, fit-content);

                hr {
                    @include size(100%, fit-content);
                    @include spacing(unset, unset);
                    border: 1px solid $dark;
                }

                .weather__climate {
                    @include display (flex, row, wrap, normal, space-between, normal);
                    @include size (100%, fit-content);
                    @include spacing (8px 0, unset)
                }

                .weather__text {
                    @include text (2rem, $bold, $dark);
                }
            }
        }
    }

    .--hidden {
        display: none;
    }
}