@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// mixin
@mixin text ($size, $weigth, $color) {
    font-size: $size;
    font-weight: $weigth;
    color: $color;
}

@mixin border ($border, $outline, $radius) {
    border: $border;
    outline: $outline;
    border-radius: $radius;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin spacing ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin display ($display, $flex-direction, $flex-wrap, $align-content, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction ;
    flex-wrap: $flex-wrap ;
    align-content: $align-content ;
    justify-content: $justify-content ;
    align-items: $align-items ;
}

//border
$border: none;
$outline: none;
$radius: .8rem;

// shadow
$search-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
$background-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.25);

// font-weigth
$regular: 400;
$medium: 500;
$bold: 700;

// colors 
$primary: #E3FDFD;
$white: #FEFEFE;
$dark: #404040;
$silver: #909090;
$error: #DD0004;

$gradient: (
    to bottom,
    #71C9CE,
    #E3FDFD
);